# Credit Card Approval Prediction Using Machine Learning

---

![credit card being held in hand](images/credit_card_banner.png)

---

**Table of Contents**
1. Project Overview
2. Inspecting the Credit Card Applications Dataset

---

## 1. Project Overview 

In this notebook, I will build an automated credit card approval predictor using machine learning, similar to the systems employed by commercial banks. Banks receive a high volume of credit card applications, many of which get rejected for various reasons, such as high loan balances, low income, or multiple recent credit inquiries. Manually reviewing these applications is tedious, prone to errors, and time-consuming. By leveraging machine learning, this process can be automated efficiently.

The notebook is structured as follows: 

1. **Loading and Exploring the Dataset**: I'll start by loading the dataset and reviewing its contents. The dataset includes both numerical and categorical features, values that span different ranges, and some missing entries, all of which require proper preprocessing for the machine learning model to perform well.
   
2. **Data Preprocessing**: After exploring the dataset, I'll clean and preprocess the data, handling missing values, encoding categorical variables, and scaling numerical features to ensure the model is trained on clean, consistent data.

3. **Exploratory Data Analysis (EDA)**: I'll conduct some EDA to gain insights into the data and understand key patterns and relationships that could help in building a more accurate model.

4. **Model Building**: Finally, I will build a machine learning model capable of predicting whether a credit card application will be accepted or rejected.

By the end of this notebook, we will have a robust model that automates the decision-making process for credit card applications.

---

## 2. Inspecting the Credit Card Applications Dataset

I’ll be using the **[Credit Card Approval dataset](http://archive.ics.uci.edu/ml/datasets/credit+approval)** from the UCI Machine Learning Repository for this project. Since the data contains sensitive information, the contributor has anonymized the feature names to protect privacy. As a result, the feature names might appear a bit confusing at first glance. However, by exploring the dataset further, I can identify the most important features relevant to credit card applications. 

Fortunately, I found a **[blog](http://rstudio-pubs-static.s3.amazonaws.com/73039_9946de135c0a49daa7a0a9eda4a67a72.html)** that provides a good overview of typical features in credit card applications. Based on this resource, the probable features include:  

- **Gender**  
- **Age**  
- **Debt**  
- **Married**  
- **Bank Customer**  
- **Education Level**  
- **Ethnicity**  
- **Years Employed**  
- **Prior Default**  
- **Employed**  
- **Credit Score**  
- **Driver’s License**  
- **Citizen**  
- **Zip Code**  
- **Income**  
- **Approval Status**  

These features give me a solid starting point to map the anonymized columns in the dataset to their respective attributes.

In [1]:
# Import pandas
import pandas as pd

# Load dataset
cc_apps = pd.read_csv("datasets/cc_approvals.data", header=None)
#cc_apps = pd.read_csv("datasets/crx.data", header=None)

# Inspect data
cc_apps.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

Upon my initial inspection, I noticed that the dataset contains a mixture of numerical and non-numerical features. While this is manageable, I’ll need to preprocess the data to ensure consistency and compatibility with machine learning algorithms. Before diving into preprocessing, I’ll spend some time exploring the dataset further to identify other potential issues, such as missing values or inconsistencies, that may need to be addressed.

In [2]:
# Print summary statistics
cc_apps_description = cc_apps.describe()
print(cc_apps_description)

               2           7          10             14
count  690.000000  690.000000  690.00000     690.000000
mean     4.758725    2.223406    2.40000    1017.385507
std      4.978163    3.346513    4.86294    5210.102598
min      0.000000    0.000000    0.00000       0.000000
25%      1.000000    0.165000    0.00000       0.000000
50%      2.750000    1.000000    0.00000       5.000000
75%      7.207500    2.625000    3.00000     395.500000
max     28.000000   28.500000   67.00000  100000.000000

In [3]:
# Print DataFrame information
cc_apps_info = cc_apps.info()
print(cc_apps_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    object
 1   1       690 non-null    object
 2   2       690 non-null    float64
 3   3       690 non-null    object
 4   4       690 non-null    object
 5   5       690 non-null    object
 6   6       690 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    int64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      690 non-null    object
 14  14      690 non-null    int64
 15  15      690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB
None

Column 1 is currently represented as an object, but upon inspection, it contains numeric values. Therefore, I will convert it to a float data type.

In [7]:
#cc_apps[1] = cc_apps[1].astype(float)
cc_apps[1] = pd.to_numeric(cc_apps[1], errors='coerce')
cc_apps_info = cc_apps.info()
print(cc_apps_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       690 non-null    object
 1   1       678 non-null    float64
 2   2       690 non-null    float64
 3   3       690 non-null    object
 4   4       690 non-null    object
 5   5       690 non-null    object
 6   6       690 non-null    object
 7   7       690 non-null    float64
 8   8       690 non-null    object
 9   9       690 non-null    object
 10  10      690 non-null    int64
 11  11      690 non-null    object
 12  12      690 non-null    object
 13  13      690 non-null    object
 14  14      690 non-null    int64
 15  15      690 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 86.4+ KB
None

In [8]:
# Inspect missing values in the dataset, missing values are labelled as '?'
cc_apps_missing = cc_apps[cc_apps.isin(['?']).any(axis=1)]
cc_apps_missing.head()

    0      1      2  3  4  5   6      7  8  9   10 11 12     13     14 15
71   b  34.83   4.00  u  g  d  bb  12.50  t  f   0  t  g      ?      0  -
202  b  24.83   2.75  u  g  c   v   2.25  t  t   6  f  g      ?    600  +
206  a  71.58   0.00  ?  ?  ?   ?   0.00  f  f   0  f  p      ?      0  +
243  a  18.75   7.50  u  g  q   v   2.71  t  t   5  f  g      ?  26726  +
248  ?  24.50  12.75  u  g  c  bb   4.75  t  t   2  f  g  00073    444  +

---

## 3. Splitting the Dataset into Train and Test Sets

To prepare the data for machine learning, I’ll split it into a training set and a test set. This allows me to separate the data into two distinct phases: training and testing. The training set will be used to train the model, while the test set will be reserved for evaluating the model's performance on unseen data.  

It’s important to ensure that no information from the test set is used during the preprocessing of the training set or influences the training process. This helps maintain the integrity of the evaluation and prevents data leakage. Therefore, I’ll first split the data into training and testing sets before proceeding with preprocessing.  

Additionally, not all features in the dataset contribute equally to predicting credit card approvals. For instance, features like **DriversLicense** and **ZipCode** are less relevant compared to others such as **Income**, **CreditScore**, and **PriorDefault**. To improve the model’s performance and reduce complexity, I’ll drop these less important features as part of the **feature selection** process. Feature selection helps in designing a machine learning model that focuses on the most informative attributes, leading to better results and faster computation.

In [9]:
# Import train_test_split
from sklearn.model_selection import train_test_split

# Drop the features 11 and 13
cc_apps = cc_apps.drop([11, 13], axis=1) # Alternatively, cc_apps = cc_apps.drop(columns=[11,13])

# Split into train and test sets
cc_apps_train, cc_apps_test = train_test_split(cc_apps, test_size=0.33, random_state=42)

---

## 4. Handling Missing Values  

With the data split into training and testing sets, I can now address some of the issues identified during the initial inspection of the dataset:  

1. **Mixed Data Types:**  
   The dataset contains both numeric and non-numeric data. Specifically, the following features are numeric:  
   - Feature 1: `float64`
   - Feature 2: `float64`  
   - Feature 7: `float64`  
   - Feature 10: `int64`  
   - Feature 14: `int64`  
   All other features are non-numeric, and these will require preprocessing to ensure compatibility with machine learning algorithms.  

2. **Varying Value Ranges:**  
   The numeric features in the dataset have values spread across different ranges. For instance:  
   - Some features range from 0 to 28.  
   - Others range from 2 to 67.  
   - Some have values between 0 and 100,000.  
   These varying ranges need to be normalised to bring all features to a similar scale, ensuring fair contributions to the model during training.  

3. **Missing Values:**  
   The dataset contains missing values, which are represented by question marks (`?`). To address this, I'll temporarily replace these placeholders with `nan` to make it easier to handle them using pandas. Identifying and managing missing data is a crucial step in ensuring a clean and reliable dataset for modelling.  

To start, I’ll focus on handling the missing values by replacing all `?` entries with `nan`. This allows me to use pandas' built-in functions to explore and deal with missing data systematically.

In [10]:
# Import numpy
import numpy as np

# Replace the '?'s with nan in the train and test sets
cc_apps_train = cc_apps_train.replace('?', np.nan)
cc_apps_test = cc_apps_test.replace('?', np.nan)
print(cc_apps_train.isna().sum())
print('\n')
print(cc_apps_test.isna().sum())

0     8
1     5
2     0
3     6
4     6
5     7
6     7
7     0
8     0
9     0
10    0
12    0
14    0
15    0
dtype: int64


0     4
1     7
2     0
3     0
4     0
5     2
6     2
7     0
8     0
9     0
10    0
12    0
14    0
15    0
dtype: int64

After replacing all question marks (`?`) with `nan`, I can now focus on treating the missing values systematically. Addressing missing values is crucial for creating a high-performing machine learning model.  

An important question to consider is: why not just ignore the missing values? The answer lies in the potential impact on the model's performance. Ignoring missing values can lead to:  
- Loss of valuable information that might be important for the model's training.  
- Issues with machine learning models that cannot handle missing values implicitly, such as **Linear Discriminant Analysis (LDA)** and others.  

To ensure that missing values do not negatively affect the model's performance, I’ll impute them using a method called **mean imputation**. This strategy involves replacing missing values in numeric features with the mean of the corresponding feature. By doing this, I preserve the overall distribution and patterns in the data, minimising the loss of information.  

With this approach, the dataset will be ready for further preprocessing and modeling without the risk of missing data affecting the reliability or accuracy of the machine learning pipeline.

In [11]:
# Impute the missing values in numeric columns with mean imputation
numeric_cols = [1,2,7,10,14]
cc_apps_train[numeric_cols] = cc_apps_train[numeric_cols].fillna(cc_apps_train[numeric_cols].mean())
cc_apps_test[numeric_cols] = cc_apps_test[numeric_cols].fillna(cc_apps_train[numeric_cols].mean())

# Count the number of NaNs in the datasets and print the counts to verify
print(cc_apps_train.isnull().sum())
print('\n')
print(cc_apps_test.isnull().sum())

0     8
1     0
2     0
3     6
4     6
5     7
6     7
7     0
8     0
9     0
10    0
12    0
14    0
15    0
dtype: int64


0     4
1     0
2     0
3     0
4     0
5     2
6     2
7     0
8     0
9     0
10    0
12    0
14    0
15    0
dtype: int64

After successfully handling the missing values in the numeric columns, there are still some missing values remaining in the dataset. These occur in columns **0, 1, 3, 4, 5 and 6**, all of which contain non-numeric (categorical) data. Since these columns represent categorical features, the mean imputation strategy used earlier is not suitable.  

To address this, I’ll use **mode imputation**, where the missing values are replaced with the most frequent value in each respective column. This is a common and effective practice for handling missing data in categorical features, as it helps preserve the distribution and patterns within the dataset.  

By imputing the missing values with the most frequent value, I ensure that the dataset is complete and ready for subsequent preprocessing steps, allowing the machine learning model to make the best use of the available data.

In [12]:
# Iterate over each column of cc_apps_train
for col in cc_apps_train.columns:
    # Check if the column is of object type
    if cc_apps_train[col].dtypes == 'object':
        # Impute with the most frequent value
        cc_apps_train[col] = cc_apps_train[col].fillna(cc_apps_train[col].value_counts().index[0])
        cc_apps_test[col] = cc_apps_test[col].fillna(cc_apps_train[col].value_counts().index[0])

# Count the number of NaNs in the dataset and print the counts to verify
print(cc_apps_train.isnull().sum())
print(cc_apps_test.isnull().sum())

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
12    0
14    0
15    0
dtype: int64
0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
12    0
14    0
15    0
dtype: int64

## 5. Pre-processing the Data 

With all missing values successfully handled, there are still some essential preprocessing steps needed before building the machine learning model. These final steps will ensure the dataset is in the best possible shape for training. I’ll divide the remaining preprocessing into two main tasks:  

1. **Converting Non-Numeric Data to Numeric**  
2. **Scaling Feature Values to a Uniform Range**  

The first step is to convert all non-numeric values into numeric ones. This is necessary because many machine learning models—especially those implemented in **scikit-learn** and frameworks like **XGBoost**—require data to be strictly numeric. Additionally, having numeric data speeds up computation and allows models to process information more efficiently.  

To achieve this, I’ll use the `get_dummies()` method from pandas, which performs **one-hot encoding**. This technique converts categorical variables into numerical representations while preserving the underlying information. Once this step is completed, the dataset will be fully numeric and ready for the next preprocessing phase: feature scaling.

In [13]:
# Convert the categorical features in the train and test sets independently
cc_apps_train = pd.get_dummies(cc_apps_train)
cc_apps_test = pd.get_dummies(cc_apps_train)

# Reindex the columns of the test set aligning with the train set
cc_apps_test = cc_apps_test.reindex(columns=cc_apps_train.columns, fill_value=0)

In [14]:
cc_apps_train.head()

,1,2,7,10,14,0_a,0_b,3_l,3_u,3_y,...,6_z,8_f,8_t,9_f,9_t,12_g,12_p,12_s,15_+,15_-
382,24.33,2.500,4.50,0,456,True,False,False,False,True,...,False,True,False,True,False,True,False,False,False,True
137,33.58,2.750,4.25,6,0,False,True,False,True,False,...,False,False,True,False,True,True,False,False,True,False
346,32.25,1.500,0.25,0,122,False,True,False,True,False,...,False,True,False,True,False,True,False,False,False,True
326,30.17,1.085,0.04,0,179,False,True,False,False,True,...,False,True,False,True,False,True,False,False,False,True
33,36.75,5.125,5.00,0,4000,True,False,False,True,False,...,False,False,True,True,False,True,False,False,True,False

In [15]:
cc_apps_test.head()

,1,2,7,10,14,0_a,0_b,3_l,3_u,3_y,...,6_z,8_f,8_t,9_f,9_t,12_g,12_p,12_s,15_+,15_-
382,24.33,2.500,4.50,0,456,True,False,False,False,True,...,False,True,False,True,False,True,False,False,False,True
137,33.58,2.750,4.25,6,0,False,True,False,True,False,...,False,False,True,False,True,True,False,False,True,False
346,32.25,1.500,0.25,0,122,False,True,False,True,False,...,False,True,False,True,False,True,False,False,False,True
326,30.17,1.085,0.04,0,179,False,True,False,False,True,...,False,True,False,True,False,True,False,False,False,True
33,36.75,5.125,5.00,0,4000,True,False,False,True,False,...,False,False,True,True,False,True,False,False,True,False

In [16]:
cc_apps_train.columns

Index([     1,      2,      7,     10,     14,  '0_a',  '0_b',  '3_l',  '3_u',
        '3_y',  '4_g', '4_gg',  '4_p', '5_aa',  '5_c', '5_cc',  '5_d',  '5_e',
       '5_ff',  '5_i',  '5_j',  '5_k',  '5_m',  '5_q',  '5_r',  '5_w',  '5_x',
       '6_bb', '6_dd', '6_ff',  '6_h',  '6_j',  '6_n',  '6_o',  '6_v',  '6_z',
        '8_f',  '8_t',  '9_f',  '9_t', '12_g', '12_p', '12_s', '15_+', '15_-'],
      dtype='object')

In [18]:
cc_apps_test.columns

Index([     1,      2,      7,     10,     14,  '0_a',  '0_b',  '3_l',  '3_u',
        '3_y',  '4_g', '4_gg',  '4_p', '5_aa',  '5_c', '5_cc',  '5_d',  '5_e',
       '5_ff',  '5_i',  '5_j',  '5_k',  '5_m',  '5_q',  '5_r',  '5_w',  '5_x',
       '6_bb', '6_dd', '6_ff',  '6_h',  '6_j',  '6_n',  '6_o',  '6_v',  '6_z',
        '8_f',  '8_t',  '9_f',  '9_t', '12_g', '12_p', '12_s', '15_+', '15_-'],
      dtype='object')

## 8. Preprocessing the data (part ii)
<p>Now, we are only left with one final preprocessing step of scaling before we can fit a machine learning model to the data. </p>
<p>Now, let's try to understand what these scaled values mean in the real world. Let's use <code>CreditScore</code> as an example. The credit score of a person is their creditworthiness based on their credit history. The higher this number, the more financially trustworthy a person is considered to be. So, a <code>CreditScore</code> of 1 is the highest since we're rescaling all the values to the range of 0-1.</p>

In [11]:
# Import MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

# Segregate features and labels into separate variables
X_train, y_train = cc_apps_train.iloc[:,0:15].values, cc_apps_train.iloc[:,15].values
X_test, y_test = cc_apps_test.iloc[:,0:15].values, cc_apps_test.iloc[:,15].values

# Instantiate MinMaxScaler and use it to rescale X_train and X_test
scaler = MinMaxScaler(feature_range=(0,1))
rescaledX_train = scaler.fit_transform(X_train)
rescaledX_test = scaler.transform(X_test)

## 9. Fitting a logistic regression model to the train set
<p>Essentially, predicting if a credit card application will be approved or not is a <a href="https://en.wikipedia.org/wiki/Statistical_classification">classification</a> task. According to UCI, our dataset contains more instances that correspond to "Denied" status than instances corresponding to "Approved" status. Specifically, out of 690 instances, there are 383 (55.5%) applications that got denied and 307 (44.5%) applications that got approved. </p>
<p>This gives us a benchmark. A good machine learning model should be able to accurately predict the status of the applications with respect to these statistics.</p>
<p>Which model should we pick? A question to ask is: <em>are the features that affect the credit card approval decision process correlated with each other?</em> Although we can measure correlation, that is outside the scope of this notebook, so we'll rely on our intuition that they indeed are correlated for now. Because of this correlation, we'll take advantage of the fact that generalized linear models perform well in these cases. Let's start our machine learning modeling with a Logistic Regression model (a generalized linear model).</p>

In [ ]:
# Import LogisticRegression
from sklearn.linear_model import LogisticRegression

# Instantiate a LogisticRegression classifier with default parameter values
logreg = LogisticRegression()

# Fit logreg to the train set
logreg.fit(rescaledX_train, y_train)

## 10. Making predictions and evaluating performance
<p>But how well does our model perform? </p>
<p>We will now evaluate our model on the test set with respect to <a href="https://developers.google.com/machine-learning/crash-course/classification/accuracy">classification accuracy</a>. But we will also take a look the model's <a href="http://www.dataschool.io/simple-guide-to-confusion-matrix-terminology/">confusion matrix</a>. In the case of predicting credit card applications, it is important to see if our machine learning model is equally capable of predicting approved and denied status, in line with the frequency of these labels in our original dataset. If our model is not performing well in this aspect, then it might end up approving the application that should have been approved. The confusion matrix helps us to view our model's performance from these aspects.  </p>

In [ ]:
# Import confusion_matrix
from sklearn.metrics import confusion_matrix

# Use logreg to predict instances from the test set and store it
y_pred = logreg.predict(rescaledX_test)

# Get the accuracy score of logreg model and print it
print("Accuracy of logistic regression classifier: ", logreg.score(rescaledX_test, y_test))

# Print the confusion matrix of the logreg model
print(confusion_matrix(y_test, y_pred))

## 11. Grid searching and making the model perform better
<p>Our model was pretty good! In fact it was able to yield an accuracy score of 100%.</p>
<p>For the confusion matrix, the first element of the of the first row of the confusion matrix denotes the true negatives meaning the number of negative instances (denied applications) predicted by the model correctly. And the last element of the second row of the confusion matrix denotes the true positives meaning the number of positive instances (approved applications) predicted by the model correctly.</p>
<p>But if we hadn't got a perfect score what's to be done?. We can perform a <a href="https://machinelearningmastery.com/how-to-tune-algorithm-parameters-with-scikit-learn/">grid search</a> of the model parameters to improve the model's ability to predict credit card approvals.</p>
<p><a href="http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html">scikit-learn's implementation of logistic regression</a> consists of different hyperparameters but we will grid search over the following two:</p>
<ul>
<li>tol</li>
<li>max_iter</li>
</ul>

In [14]:
# Import GridSearchCV
from sklearn.model_selection import GridSearchCV

# Define the grid of values for tol and max_iter
tol = [0.01, 0.001, 0.0001]
max_iter = [100, 150, 200]

# Create a dictionary where tol and max_iter are keys and the lists of their values are corresponding values
param_grid = dict({'tol':tol, 'max_iter':max_iter})

## 12. Finding the best performing model
<p>We have defined the grid of hyperparameter values and converted them into a single dictionary format which <code>GridSearchCV()</code> expects as one of its parameters. Now, we will begin the grid search to see which values perform best.</p>
<p>We will instantiate <code>GridSearchCV()</code> with our earlier <code>logreg</code> model with all the data we have. We will also instruct <code>GridSearchCV()</code> to perform a <a href="https://www.dataschool.io/machine-learning-with-scikit-learn/">cross-validation</a> of five folds.</p>
<p>We'll end the notebook by storing the best-achieved score and the respective best parameters.</p>
<p>While building this credit card predictor, we tackled some of the most widely-known preprocessing steps such as <strong>scaling</strong>, <strong>label encoding</strong>, and <strong>missing value imputation</strong>. We finished with some <strong>machine learning</strong> to predict if a person's application for a credit card would get approved or not given some information about that person.</p>

In [ ]:
# Instantiate GridSearchCV with the required parameters
grid_model = GridSearchCV(estimator=logreg, param_grid=param_grid, cv=5)

# Fit grid_model to the data
grid_model_result = grid_model.fit(rescaledX_train, y_train)

# Summarize results
best_score, best_params = grid_model_result.best_score_, grid_model_result.best_params_
print("Best: %f using %s" % (best_score, best_params))

# Extract the best model and evaluate it on the test set
best_model = grid_model_result.best_estimator_
print("Accuracy of logistic regression classifier: ", best_model.score(rescaledX_test, y_test))